@model IEnumerable<Shop.Application.Cart.GetCart.Response>

@{

}

    <div>
        <p class="title"> Masive Cart </p>
        @foreach (var product in Model)
        {
            <article class="media">
                <figure class="media-left">
                    <p class="image is-128x128">
                        <img src="~/images/cigarets.jpg" />
                        
                    </p>
                </figure>
                <div class="media-content">
                    <div class="content">
                        <p class="title">@product.Name</p>
                        <p class="subtitle">Qty: @product.Qty</p>
                        <p class="subtitle">Price: @product.TotalValue</p>
                    </div> 
                   
                  
                </div>
                
            </article>

           
        }

    </div>