@page
@model Shop.UI.Pages.CartModel
@{
}


    <div class="container">
        <div class="columns">
            <div class="column is-6 is-offset-3">


                @foreach (var product in Model.Cart)
                 {
                    <div class="level">
                        <div class="level-item">
                           <figure class="image  is-128x128">
                            <img src="~/images/moon.jpg" />
                            </figure>
                        </div>
                        <div class="level-item">
                            <div class="title">
                                <p>@product.Name</p>

                            </div>
                            
                        </div>
                        <div class="level-item">
                            <p>@product.Qty</p>

                        </div>
                        <div class="level-item">
                            <p>$@product.TotalValue</p>

                        </div>
                    </div>
                    
                    
                     
                 }
                <div class="has-text-right">
                    <a asp-page="/index" class="button is-text">Weebs Out</a>
                    <a asp-page="Checkout/CustomerInformation" class="button is-success">Chekout</a>
                </div>
        
            </div>
        </div>
    </div>
